body {
    margin: 2em;
    font-family: sans-serif;
    font-size: 90%;
    background: #f8f7f7;
}

label {
    float: left;
    display: block;
    width: 11em;
}

.datefield {
    display: inline;
    padding: 0.3em;
    border: inset 1px #CCC;
    background: #FFF;
    border-radius: 4px;
    color: #666;
}

.datefield * {
    display: inline-block;
}

.datefield input {
    width: 1.7em;
    padding: 0 0.4em;
    border: none;
    font-size: 100%;
    background: none;
    color: #000;
}

.datefield input#year { width:2.5em; }
.datefield input:focus { outline:none; }